*{
    margin: 0 auto;
    padding : 0;
    text-align: center;
}
.heading{
    background-color: aqua;
    line-height: 50px;

}
.choices{
    display: flex;
    justify-content: center;
    flex-wrap : nowrap;
    width: 250px;
    height: 225px;
}
.choice{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
    margin-right: 25px;
}
img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
.scoreboard{
    width: 150px;
    height: 50px;
   display: flex;
   font-size: 20px;
   margin-bottom: 15px;
}
div:hover{
    cursor: pointer;
}
.msg{
    background-color:burlywood;
    line-height: 50px;
    display: inline;
    font-size: 25px;
    padding: 8px;
    border-radius: 6px;
}